@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  10% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

.animate-float {
  animation: float linear infinite;
}